# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution/build files
build/
dist/
*.egg-info/

# IDE and editor files
.vscode/
.idea/
*.swp

# Logs
*.log
*.out
*.err

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
.DS_Store
Thumbs.db
