/* styles.css */



.color-title {
  font-weight: normal;
}

#demon-slayer {
  color: red;
}

#solo-leveling {
  color: blue;
}

#death-note {
  color: black;
}

#one-piece {
  color: orange;
}

#naruto {
  color: green;
}

*{
    text-align: center
}

h1{
    color: white;
    background-color: red;
}
